---
layout: case_study
extra_css:
  - "case-study.css"
---
- content_for(:title, case_study.title)
- content_for(:cover_image, case_study.cover_image)
- content_for(:cover_title, case_study.cover_title)
- customer_logo_class = case_study.customer_logo_css_class ? case_study.customer_logo_css_class : 'brand-logo-wide'

.customer-info-section-wrapper
  .container.customer-info-section
    .row
      .col-md-5.section-content.customer-information
        %div{ class: customer_logo_class }
          = image_tag case_study.customer_logo
        .brand-detail
          %strong.title INDUSTRY
          .subtitle= case_study.customer_industry
        .brand-detail
          %strong.title LOCATION
          .subtitle= case_study.customer_location
        .brand-detail
          %strong.title EMPLOYEES
          .subtitle= case_study.customer_employees
      .col-md-7.section-content.customer-key-benefits
        %strong.title
          KEY BENEFITS
        %ul.benefits-list.list-unstyled
          - case_study.key_benefits.each do |benefit|
            %li.benefits-list-item
              %i.fa.fa-arrow-right.list-icon{ "aria-hidden": "true" }
              %p.list-content= benefit

.customer-case-section-wrapper
  .container.customer-case-section
    .row
      .col-md-5.section-content.customer-quote{ class: "vertical-align-#{case_study.customer_quote.quote_position}" }
        .quote-wrapper
          %p.quote-text
            &ldquo;
            = case_study.customer_quote.quote_text
            &rdquo;
          .quote-author= case_study.customer_quote.customer_name
          .quote-author-title= case_study.customer_quote.customer_title
      .col-md-7.section-content.customer-result
        - case_study.customer_study_content.each do |content_item|
          .customer-case-item
            %strong.title= content_item.title
            - content_item.content.each do |content_para|
              %p.contents= content_para
